<body class="index-page">
{{#if user}}
<h2>Welcome {{user.username}}</h2>
<div>
  <img src={{user.image_url}}>
</div>
<div>
  <p>Current money: {{user.money}}</p>
</div>
<div>
  <p><a href="/owned">My collection</a></p>
</div>
<div>
  <p><a href="/wishlist">My wishlist</a></p>
</div>
<div>
  <p><a href="/trades">Trades</a></p>
</div>
{{else}}
<div>
<h1 class="welcome">Welcome to the greatest auctions website ever created.</h1>
<p>Please <a href="/register">Register</a></p>
</div>
{{/if}}
</body>
